<?xml version='1.0' encoding='utf-8'?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.aplicativo.uneb"
        versionCode = "15" 
        version="1.0.0" >


	<!-- Preferencias -->
    <preference name="Orientation" value="portrait" />
	<preference name="stay-in-webview" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="target-device" value="handset" />
    <preference name="AllowInlineMediaPlayback" value="false" />
	<preference name="EnableLocation" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
	<preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>
	
	<gap:plugin name="org.apache.cordova.device" source="pgb" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.3" />
    <gap:plugin name="org.apache.cordova.device-orientation" source="pgb" version="0.3.9" /> 
    <gap:plugin name="org.apache.cordova.network-information" source="pgb" version="0.2.12" />
 
	<!-- Icones de cada plataforma -->
	<icon src="res/icon.png" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />

	<!-- IOS -->
	<icon src="res/icons/icon29.png"   	gap:platform="ios"  	width="29" height="29" />
    <icon src="res/icons/icon40.png"   	gap:platform="ios"  	width="40" height="40" />
	<icon src="res/icons/icon50.png"   	gap:platform="ios"  	width="50" height="50" />
    <icon src="res/icons/icon57.png"    gap:platform="ios"  	width="57" height="57" />
	<icon src="res/icons/icon58.png"    gap:platform="ios"  	width="58" height="58" />
	<icon src="res/icons/icon60.png"   	gap:platform="ios"  	width="60" height="60" />
    <icon src="res/icons/icon72.png"    gap:platform="ios"  	width="72" height="72" />
	<icon src="res/icons/icon76.png"   	gap:platform="ios"  	width="76" height="76" />
    <icon src="res/icons/icon80.png"   	gap:platform="ios"  	width="80" height="80" />
	<icon src="res/icons/icon100.png"   gap:platform="ios"  	width="100" height="100" />
	<icon src="res/icons/icon114.png"   gap:platform="ios"  	width="114" height="114" />
	<icon src="res/icons/icon120.png"   gap:platform="ios"  	width="120" height="120" />
	<icon src="res/icons/icon152.png"   gap:platform="ios"  	width="152" height="152" />

	<!-- Android -->
    <icon src="res/icons/icon36.png"	gap:platform="android"  gap:qualifier="ldpi" />
    <icon src="res/icons/icon48.png"	gap:platform="android"  gap:qualifier="mdpi" />
    <icon src="res/icons/icon72.png"	gap:platform="android"  gap:qualifier="hdpi" />
    <icon src="res/icons/icon96.png"	gap:platform="android"	gap:qualifier="xhdpi" />

    <!-- Splashes de cada plataforma -->
	
	<!-- IOS -->
    <gap:splash src="res/splash/320-480.png"        gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/splash/640-960.png"      	gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/splash/640-1136.png"		gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/splash/768-1024.png"		gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/splash/1024-768.png"		gap:platform="ios"     width="1024" height="768" />
	<gap:splash src="res/splash/1536-2048.png"		gap:platform="ios"     width="1536" height="2048" />
	<gap:splash src="res/splash/2048-1536.png"		gap:platform="ios"     width="2048" height="1536" />
	
	<!-- Android -->
    <gap:splash src="res/splash/200-320.pngg"		gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/splash/320-480.png"		gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/splash/480-800.png"		gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/splash/720-1280.png"		gap:platform="android" gap:qualifier="port-xhdpi" />
    
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
	
    <name>União Nordeste Brasileira da IASD</name>
	
    <description>
        Aplicativo da União Nordeste Brasileira da IASD
    </description>
	
    <author email="contato@rdorval.com" href="http://www.rdorval.com">
        RDORVAL SOLUCOES EM TECNOLOGIA
    </author>
	
    <content src="index.html" />
	
	<access origin="*" />
	<access origin="*.uneb.*" />
	<access origin="http://uneb.org.br" subdomains="true" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

	
</widget>
